# [REQUIRED] Port for the http server to listen on
HTTP_PORT=3001

# [REQUIRED] Environment to run on (either "testnets" or "mainnets")
ENVIRONMENT=testnets

# [REQUIRED] The ecdsa private key for signing messages
ECDSA_PRIVATE_KEY=0x