# [REQUIRED] Port for the http server to listen on
HTTP_PORT=3001

# [REQUIRED] Port for the ws server to listen on
WS_PORT=3002

# [REQUIRED] Postgres connection url
export POSTGRES_URL=postgresql://postgres:password@127.0.0.1:5432/postgres?schema=public

# [REQUIRED] Rabbitmq connection url
export RABBIT_URL=amqp://guest:guest@127.0.0.1:5672

# [REQUIRED] Redis connection url
export REDIS_URL=redis://default:password@127.0.0.1:6379