# [REQUIRED] Port for the http server to listen on
HTTP_PORT=3001

# [REQUIRED] Environment to run on (the corresponding `./configs/chains.${ENVIRONMENT}.json` file will be chosen)
ENVIRONMENT=mainnets.dev.local

# [REQUIRED] The ecdsa private key for signing messages
ECDSA_PRIVATE_KEY=0x

# [OPTIONAL] List of API keys per integrator to be passed to all API calls
API_KEYS="apiKey1:integrator1;apiKey2:integrator2"